# ECP5-5G Versa Development Kit Constraints
# Board: LFE5UM5G-45F-VERSA-EVN
# Project: b8008 Example Project Template

# Clock Input (100 MHz LVDS)
LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVDS;

# LEDs (active low)
LOCATE COMP "led[0]" SITE "E16";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[1]" SITE "D17";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[2]" SITE "D18";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[3]" SITE "E18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[4]" SITE "F17";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[5]" SITE "F18";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[6]" SITE "E17";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[7]" SITE "F16";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

# CPU Debug Outputs
LOCATE COMP "cpu_d[0]" SITE "B19";
IOBUF PORT "cpu_d[0]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "cpu_d[1]" SITE "B12";
IOBUF PORT "cpu_d[1]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "cpu_d[2]" SITE "B9";
IOBUF PORT "cpu_d[2]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "cpu_d[3]" SITE "B11";
IOBUF PORT "cpu_d[3]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "cpu_d[4]" SITE "A6";
IOBUF PORT "cpu_d[4]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "cpu_d[5]" SITE "A8";
IOBUF PORT "cpu_d[5]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "cpu_d[6]" SITE "A14";
IOBUF PORT "cpu_d[6]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "cpu_d[7]" SITE "C14";
IOBUF PORT "cpu_d[7]" IO_TYPE=LVCMOS33 DRIVE=12;

LOCATE COMP "cpu_s0" SITE "D14";
IOBUF PORT "cpu_s0" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_s1" SITE "E14";
IOBUF PORT "cpu_s1" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_s2" SITE "D11";
IOBUF PORT "cpu_s2" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_sync" SITE "C10";
IOBUF PORT "cpu_sync" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_phi1" SITE "A9";
IOBUF PORT "cpu_phi1" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_phi2" SITE "B10";
IOBUF PORT "cpu_phi2" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_ready" SITE "D12";
IOBUF PORT "cpu_ready" IO_TYPE=LVCMOS33;
LOCATE COMP "cpu_int" SITE "E12";
IOBUF PORT "cpu_int" IO_TYPE=LVCMOS33;

# Additional Debug Outputs
LOCATE COMP "dbg_reset_int" SITE "E8";
IOBUF PORT "dbg_reset_int" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_bootstrap_int" SITE "D8";
IOBUF PORT "dbg_bootstrap_int" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_bootstrap_done" SITE "C7";
IOBUF PORT "dbg_bootstrap_done" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_state_half" SITE "C6";
IOBUF PORT "dbg_state_half" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_int_pending" SITE "E6";
IOBUF PORT "dbg_int_pending" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[0]" SITE "D6";
IOBUF PORT "dbg_pc[0]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[1]" SITE "E7";
IOBUF PORT "dbg_pc[1]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[2]" SITE "D7";
IOBUF PORT "dbg_pc[2]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[3]" SITE "B6";
IOBUF PORT "dbg_pc[3]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[4]" SITE "E9";
IOBUF PORT "dbg_pc[4]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[5]" SITE "D9";
IOBUF PORT "dbg_pc[5]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[6]" SITE "B8";
IOBUF PORT "dbg_pc[6]" IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dbg_pc[7]" SITE "C8";
IOBUF PORT "dbg_pc[7]" IO_TYPE=LVCMOS33 DRIVE=12;

# DIP Switches
LOCATE COMP "sw[0]" SITE "H2";
IOBUF PORT "sw[0]" IO_TYPE=LVCMOS15;
LOCATE COMP "sw[1]" SITE "K3";
IOBUF PORT "sw[1]" IO_TYPE=LVCMOS15;
LOCATE COMP "sw[2]" SITE "G3";
IOBUF PORT "sw[2]" IO_TYPE=LVCMOS15;
LOCATE COMP "sw[3]" SITE "F2";
IOBUF PORT "sw[3]" IO_TYPE=LVCMOS15;
LOCATE COMP "sw[4]" SITE "J18";
IOBUF PORT "sw[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "sw[5]" SITE "K18";
IOBUF PORT "sw[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "sw[6]" SITE "K19";
IOBUF PORT "sw[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "sw[7]" SITE "K20";
IOBUF PORT "sw[7]" IO_TYPE=LVCMOS25;

# Button
LOCATE COMP "speed_btn" SITE "A10";
IOBUF PORT "speed_btn" IO_TYPE=LVCMOS33 PULLMODE=UP;

# Additional LEDs
LOCATE COMP "led_M20" SITE "M20";
IOBUF PORT "led_M20" IO_TYPE=LVCMOS25;
LOCATE COMP "led_L18" SITE "L18";
IOBUF PORT "led_L18" IO_TYPE=LVCMOS25;

# Configuration
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62;
